{%extends '../base.html'%}

{%block link2%}  active {%endblock%}

{%block body%}

    <div class="container">
		<!-- About Content -->
		<div class="about-main">
			<div class="row">
				<div class="col-lg-6">
					<img class="img-fluid rounded mb-4" src="../static/images/about-img.jpg" alt="" />
				</div>
				<div class="col-lg-6">
					<h2>About Us</h2>
					<p>TechTitan was founded in 2016 by Isaac Hatilima. After seeing the need to automate businesses at an affordable rate, an idea of starting a softeare development company to carter for the small companies became a drive for the then young enterprenure</p>

					<p>Techtitan is a startup company with a sole purpose of digitising your daily business transactions which every business should have. After all, we all need to help on cutting down on paper usage to help fight Climate Change and Global Warming.</p>

					<p>So, do you need a website or looking to have professional email addresses for your business? Well, look no more because we are here for you.</p>
				</div>
			</div>
			<!-- /.row -->
		</div>
	</div>
	<div class="about-inner">
		<div class="container">
			<div class="row mb-4">
				<div class="col-lg-6">
					<div class="left-ab">
						<h3>Our Mission</h3>
						<p>As your friendly neighborhood software firm, we are here with the mission to;</p>
						<ul>
							<li>Help business operate more professional for less costs.</li>
							<li>Give you an online presence to easily market your services.</li>
							<li>Give you tailor made systems to fit your exact needs.</li>      							
					  </ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="right-ab">
						<img class="img-fluid rounded mb-4" src="../static/images/mission-img.jpg" alt="" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="right-ab">
						<img class="img-fluid rounded mb-4" src="../static/images/vision-img.jpg" alt="" />
					</div>
				</div>
				<div class="col-lg-6">
					<div class="left-ab">
						<h3>Our Vision</h3>
						<p>Our vision as TechTitan is to have automated bisiness models and online presence for all starting and existing businesses tha thought it costs thousands to have that. Our business model is to help you do your business transactions on tailor made systems and give you online presence.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<!-- Team Members -->
		<div class="team-members-box">  
			<h2>Our Team</h2>
			<div class="row">
				<div class="col-lg-4 mb-4">
					<div class="card h-100 text-center">
						<div class="our-team">
							<img class="img-fluid" src="../static/img/team/Isaac.jpeg" alt="" />
							<div class="team-content">
								<h3 class="title">Isaac Hatilima</h3>
								<span class="post">Systems Developer</span>
								<ul class="social">
									<li><a href="https://www.facebook.com/isaachatilima"><i class="fab fa-facebook"></i></a></li>
									<li><a href="https://twitter.com/IsaacHatilima"><i class="fab fa-twitter"></i></a></li>
									<li><a href="https://zm.linkedin.com/in/isaachatilima" target="_blank"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4">
					<div class="card h-100 text-center">
						<div class="our-team">
							<img class="img-fluid" src="../static/img/team/Mwamba.jpeg" alt="" />
							<div class="team-content">
								<h3 class="title">Mwamba Changala</h3>
								<span class="post">Mobile App Developer</span>
								<ul class="social">
									<li><a href="#"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4">
					<div class="card h-100 text-center">
						<div class="our-team">
							<img class="img-fluid" src="../static/img/team/King1.jpeg" alt="" />
							<div class="team-content">
								<h3 class="title">Douglas Phiri</h3>
								<span class="post">Content Developer</span>
								<ul class="social">
									<li><a href="#"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
	</div>
	
	<div class="customers-box"> 
		<div class="container">
			<!-- Our Customers -->
			<h2>Our Customers</h2>
			<div class="row">
				<div class="col-lg-12">
					<div id="customers-slider" class="owl-carousel">
						<div class="mb-4">
							<img class="img-fluid" src="../static/img/clients/Techmasters.png" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="../static/img/clients/ALS.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="../static/img/clients/Zenith.jpeg" alt="" />
						</div>
						<!--
						<div class="mb-4">
							<img class="img-fluid" src="images/logo_04.png" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="images/logo_05.png" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="images/logo_06.png" alt="" />
						</div>
						 -->
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</div>
	

{%endblock%}