{%extends '../base.html'%}

{%block link3%}  active {%endblock%}

{%block body%}

	<div class="full-title">
		<div class="container">
			<!-- Page Heading/Breadcrumbs -->
			<h1 class="mt-4 mb-3">Services</h1>
			<div class="breadcrumb-main">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="index.html">Home</a>
					</li>
					<li class="breadcrumb-item active">Services</li>
				</ol>
			</div>
		</div>
	</div>
	
    <!-- Page Content -->
    <div class="container">
		<!-- Image Header -->
		<img class="img-fluid rounded mb-4" src="../static/images/services-big.jpg" alt="" />
	</div>
	<div class="services-bar">
		<div class="container">
			<h1 class="py-4">Our Services </h1>
			<!-- Services Section -->
			<div class="row">
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="../static/img/services/web-design.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> <a href="" class="colors">Wed Design and Development</a> </h4>
							<p class="card-text">We Design and Develope Websites that fit your needs and business to give you that needed online presence.</p>
						</div>
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="../static/img/services/webdesign.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> <a href="" class="colors">Applications</a> </h4>
							<p class="card-text">We develope applications that will strive towards automating your business after all, you need the realtime view of your business progress.</p>
						</div>
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="../static/img/services/email.png" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> <a href="" class="colors">Email Hosting</a> </h4>
							<p class="card-text">We host email at very competitive rate. Why use @gmail.com or @yahoo.com when you can have @yourbusinessname.com. Communicate like a professional with us.</p>
						</div>
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="../static/img/services/consult.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> <a href="" class="colors">Consultation</a> </h4>
							<p class="card-text">For all your IT Projects, do not hesitate to get in touch with us for a second opinion on how to get things done.</p>
						</div>						
					</div>
			   </div>
			   <!--
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="images/services-img-05.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Infrastructure </h4>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
						</div>						
					</div>
			   </div>
			   <div class="col-lg-4 mb-4">
					<div class="card h-100">
						<div class="card-img">
							<img class="img-fluid" src="images/services-img-06.jpg" alt="" />
						</div>
						<div class="card-body">
							<h4 class="card-header"> Product Engineering </h4>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
						</div>
					</div>
			   </div> 
			   -->
			</div>
			<!-- /.row -->
		</div>
	</div>
	
	<div class="container">
		<!-- Our Customers -->
		<div class="customers-box"> 
			<h2>Our Customers</h2>
			<div class="row">
				<div class="col-lg-12">
					<div id="customers-slider" class="owl-carousel">
						<div class="mb-4">
							<img class="img-fluid" src="../static/img/clients/Techmasters.png" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="../static/img/clients/ALS.jpg" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="../static/img/clients/Zenith.jpeg" alt="" />
						</div>
						<!--
						<div class="mb-4">
							<img class="img-fluid" src="images/logo_04.png" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="images/logo_05.png" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="images/logo_06.png" alt="" />
						</div>
						 -->
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
    </div>
    <!-- /.container -->
	


{%endblock%}